*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    height: 100%;
    width: 100%;
    background: #2b2d42;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 530px;
    position: relative;
    margin:  6% auto;
    background: #edf2f4;
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position:  relative;
    box-shadow: 0 0 20px 9px #878c8f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    border-radius: 30px;
    position: relative;
}

.select{
    margin-top: 10px;
    padding: 8px 12px;
    color: #0077b6;
    background-color: #dee2e6;
    border: 1px solid #89c2d9 ;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    
 
}
.required{
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}
.required::before{
    content: "* ";
    color: red;
    display: flex;
}
.stateDropDown::before{
    content: "* ";
    color: red;
    display: flex;
    float: left;
}
.select:focus,.select:hover{

    outline: none;
    border:  1px solid gray;
}

.select option {
    background: #cdbfd6;
}

.requiredLbl{
    text-align: center;
    color: #abc4ff;
    font-size: 14px;
    padding: 0%;
    margin: 0%;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #38b000, #38b000);
    border-radius: 30px;
    transition: .5s;
    
}
.selectedButton{
    color: #2b2d42 !important;
}

.input-group{
    top: 100px;
    position: absolute;
    width: 280px;
    transition: .5s;
    position: absolute;
    
}

.input-group > input{
    
    color: #0077b6;
}

.input-group > label > input::placeholder{
    
    color: #0077b6;
}
.input-group > input::placeholder{
    
    color: #0077b6;
}

.input-field{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #8d99ae;
    outline: none;
    background: transparent;
   
}

.submit-btn{
    width: 85%;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin: 15px;
    background: linear-gradient(to right, #c1d3fe, #abc4ff);
    border: 0;
    outline: none;
    border-right: 30px;
    border-radius: 30px;
    color: #147df5;
}


#login{
    left: 50px
}
#register{
    left:  450px;
}